<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.defakelogibackend.mapper.GroupMapper">

    <insert id="createGroup" useGeneratedKeys="true" keyProperty="id">
        insert into groups_ (group_name)
        values ( #{groupname} )
    </insert>
    
    <select id="findGroupByGroupId">
        select * from groups_
        where id = #{groupId}
    </select>
</mapper>