<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.defakelogibackend.mapper.GroupMapper">

    <insert id="createGroup" useGeneratedKeys="true" keyProperty="id">
        insert into groups_ (group_name)
        values ( #{groupname} )
    </insert>

    <select id="findGroupByGroupId" resultType="com.group6.defakelogibackend.model.Group">
        select * from groups_
        where id = #{groupId}
    </select>

    <select id="getAllGroups" resultType="com.group6.defakelogibackend.model.Group">
        select * from groups_
    </select>

    <select id="findGroupMembersByGroupId" resultType="com.group6.defakelogibackend.model.UserToGroup">
        select * from user_to_group
        where group_id = #{groupId}
    </select>
</mapper>