<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.defakelogibackend.mapper.NotificationMapper">
    <select id="findNotificationById" resultType="com.group6.defakelogibackend.model.Notification">
        select * from notifications
        where
            id = #{id}
    </select>

    <delete id="deleteNotificationById">
        delete from notifications
        where id = #{id}
    </delete>

    <delete id="deleteAllNotificationByUserId">
        delete from notifications
        where user_id = #{user_id}
    </delete>

    <select id="findNotificationByUserId_sent_at_desc">
        select * from notifications
        where user_id = #{user_id}
        order by sent_at desc
    </select>

    <select id="findNotificationByUserId_sent_at_asc">
        select * from notifications
        where user_id = #{user_id}
        order by sent_at asc
    </select>

    <insert id="createNotificationUser2User">
        insert into notifications (user_id_rec, user_id_sent, title, content)
        values (#{userId_rec}, #{userId_sent}, #{title}, #{content})
    </insert>

</mapper>
