<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.defakelogibackend.mapper.PaperMapper">

    <insert id="addPaper" keyProperty="id" useGeneratedKeys="true">
        insert into papers
        (
            uploader_id,
            title,
            <if test="abstracT != null">abstract,</if>
            <if test="doi != null">doi,</if>
            <if test="publishedAt != null">published_at,</if>
            file_path,
            <if test="pageNum != null">page_num,</if>
            authors
        )
        values
        (
            #{uploaderId},
            #{title},
            <if test="abstracT != null">#{abstracT},</if>
            <if test="doi != null">#{doi},</if>
            <if test="publishedAt != null">#{publishedAt},</if>
            #{filePath},
            <if test="pageNum != null">#{pageNum},</if>
            #{authors}
        )
    </insert>

    <select id="getPaperById" resultType="com.group6.defakelogibackend.model.Paper">
        select * from papers where id = #{id}
    </select>


</mapper>